@import "bootstrap-sprockets";
@import "bootstrap";

@import "avantui.css";

.header{
    height:60px;
  background:#00DAFC;
  color:#fff;
  width:100%;
}

.logo{
  margin:0;
  line-height:50px;
  float:left;
}
